/*-----------------------GENERAL CSS------------------------*/
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 32px;
    min-height: calc(70vmin);
}
.body_nopadding {
    display: flex;
    flex-direction: column;
    min-height: calc(70vmin);
}
.button {
    background-color: #0033b6;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    color: white;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.button:focus {
    outline: none;
}

/*-----------------------MENU---------------------*/
.menu {
    position: absolute;
    background-color: #1488e0;
    height: 100%;
    width: 40%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    display: none;
}
.menu_setting {
    margin: 24px;
    float: left;
    margin-right: auto;
    border: none;
    color: #5aace9;
    background-color: #0033b6;
    top: 0;
    position: absolute;
    z-index: 100;

}
.menu_setting:hover {
    cursor: pointer;
    color: #eedc79;
}
.menu_setting:focus {
    outline: none;
}
.menu .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px 0px;
}
.club_link {
    color: #d0e7f9;
    width: 100%;
    margin: 8px 0px;
    font-size: 18px;
}
.menu_button {
    background-color: #0033b6;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    color: white;
    width: 100%;
    font-size: 18px;
}
.menu_button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.menu_button:focus {
    outline: none;
}
.trash_button {
    float: right;
    margin-left: auto;
    border: none;
    color: #5aace9;
    background-color: #1488e0;

}
.trash_button:hover {
    cursor: pointer;
    color: #0033b6;
}
.trash_button:focus {
    outline: none;
}

/*-----------------------------CLUBS PAGE---------------------*/
.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px 32px;
    padding-bottom: 32px;
    background-color: #0033b6;
    color: white;
}

.search-container {
    width: 100%;
}
.search_button {
    background-color: white;
    padding: 8px 16px;
    border-radius: 3px;
    margin-left: 16px;
    border: none;
    color: white;
    width: auto;
}
.search_button:hover {
    cursor: pointer;
    background-color: #eedc79;
}
.search_button:focus {
    outline: none;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    flex-grow: 3;
}

.button_container {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}
.club_list {
    padding: 24px;
}
.club_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 1px;
    padding: 8px;
}
.club_words {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.club_card h3 {
    margin: 0px;
    font-size: 24px;
}
.club_card p {
    margin: 16px 0px;
}